<!DOCTYPE html>
<html ng-app="developmentApp">
<head>
  <title>Echo Development App</title>
  {% load static %}

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="container" ng-controller="DevController">
    <div class="row">
      <div class="col-xs-12">
        <h2>Development Area</h2>
      </div>
    </div>


    <json></json>


    <form action="" class="row" id="key-value-inputs" method="post">
      <div class="col-xs-12">
        <h2>Input new JSON response</h2>
        <textarea name="newResponse" ng-model="newResponse"></textarea>
        <input type="hidden" id="oldResponse" name="oldResponse" value="{{ oldResponse }}">
      </div>
      <div class="col-xs-6">
        <button type="submit" id="submit-btn" class="btn btn-default">Submit</button>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <br/>
        <br/>
        <p>Current Reponse:</p>
        <p> {{ oldResponse }}</p>
        <br/>
        <p>Recently Received Request:</p>
        <p> {{ recent_request }}</p>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{% static 'app.js' %}"></script>
</body>

</html>
