{% extends 'Recipes/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add API Call</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form method="post" action="{% url 'Recipes:add_api_call' pk=model.pk %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="URL">URL</label>
          <input name="url" type="text" class="form-control" placeholder="http://www.google.com" id="URL">
        </div>
        <div class="form-group">
          <label for="json_string">Data</label>
          <textarea class="form-control" id="json_string" placeholder='{"args": "ENABLE4"}' name="json_string"></textarea>
        </div>
        <div class="form-group">
          <label for="is_get">
            <input type="checkbox" id="is_get" placeholder='{"args": "ENABLE4"}' name="is_get"/> Check this box if API call is GET (leave unchecked for POST)
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

<html>
  <head>
    <title>Create Recipe</title>
  </head>

  <body>
    <form method="post" action="{% url 'Recipes:create_recipe' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">submit</button>
    </form>
  </body>
</html>
<form method="post" action="{% url 'Recipes:add_api_call' pk=model.pk %}">
  {% csrf_token %}
  <input type="text" name="url" placeholder="http://www.example.com">
  <textarea name="json_string"></textarea>
  Check off if method your doing a get method call<input type="checkbox" name="is_get">
  <button type="submit"></button>
</form>
