{% extends 'Recipes/base.html' %}
{% load static %}

{% block content %}
{% include 'Recipes/includes/navbar.html' %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Add an Action to your Voice Application</h2>
      </div>
    </div>
  </div>
</div> 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="row" method="post" action="{% url 'Recipes:create_action' recipe_pk=recipe.pk %} ">
        {% csrf_token %}
        <div class="form-group col-md-2">
          <label for="type">Type</label>
          <select class="form-control" id="type" name="type">
            <option value="0">-----------</option>
            <option value="RT" selected="selected">Basic Return Text</option>
            <option value="C">Conditional</option>
          </select>
        </div>
        <div class="form-group col-md-10 basic_return_text">
          <label for="return_statement">Return Statement</label>
          <input type="text" class="form-control" placeholder="Return Statement" name="return_statement" id="return_statement">
        </div>
        <div class="form-group col-md-10 conditional" style="visibility:hidden; height:0px;">
          <label for="question">Question</label>
          <input type="text" class="form-control" placeholder="Question" name="question" id="question">
        </div>
        <div class="form-group col-md-12">
          <button type="submit" class="btn btn-primary btn-lg" style="width:100%">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
    <h3>Title: {{ recipe.name }}</h3>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <h3>#</h3>
    </div>
    <div class="col-xs-9">
      <h3>Action</h3>
    </div>
    <div class="col-xs-2">
    </div>
  </div>

  {% for action in actions %}
  <div class="row">
    <div class="col-xs-1">
      <h1>{{ action.instruction_number }}</h1>
    </div>
    <div class="col-xs-9">
      {% if action.type == 'RT' %}
      <p class="bg-primary" style="padding: 15px 15px 15px 15px">Return Statement: "{{ action.basic_return_text.return_statement }}"</p>
      {% endif %}
      {% if action.is_api_call %}
    
      <p class="bg-primary" style="padding: 15px 15px 15px 15px; margin-left: 15px">URL: {{ action.api_call.url }}</p>
      <p class="bg-primary" style="padding: 15px 15px 15px 15px; margin-left: 15px">Data: {{ action.api_call.json_string }}</p>
      {% endif %}
    </div>
    <div class="col-xs-2">
      <a style="width: 100%; height:100%" class="btn btn-success" href="{% url 'Recipes:add_api_call' pk=action.pk %}">Add API Call</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'Recipes/js/create_action.js' %}"></script>
{% endblock %}
