{% extends 'accounts/base.html' %}
{% load static %}

{% block navbar %}
{% include 'accounts/includes/navbar.html' %}
{% endblock %}

{% block content %}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Let's make an Echo App!</h1>
    <p>The Amazon Echo Workflow Framework provides an easy to use interface for the average user to create their own Echo Application through the Alexa Interface.</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:create_account' %}" role="button">Sign Up &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>How Does It Work?</h2>
      <p>Learn how to quickly create and manage your own Alexa Workflow Applications. </p>
      <p><a class="btn btn-default" href="{% url 'howitworks' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>Meet the team behind the Amazon Echo Workflow Framework </p>
      <p><a class="btn btn-default" href="{% url 'aboutus' %}" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>IoT</h2>
      <p>Meet the team behind the IoT side of this project</p>
      <p><a class="btn btn-default" href="{% url 'iot' %}" role="button">View details &raquo</a></p>

    </div>
  </div>

  <hr>

  <footer>
    <p>2016 Senior Project: Amazon Echo Workflow Framework/p>
  </footer>
</div> <!-- /container -->

{% endblock %}

{% block js %}
<script src="{% static 'accounts/js/set_active.js' %}"></script>
{% endblock %}
