{% extends 'accounts/base.html' %}
{% load static %}

{% block navbar %}
{% include 'accounts/includes/navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">

  <div class="starter-template">
    <h1><br><br>Final Step!</h1>
    <hr></hr>
    <p class="lead">Say this to Alexa, "Alexa tell Adam the secret code is {{ passcode }}"</p>
    <p class="lead">Wait for Alexa to respond and you're all setup!</p>
  </div>

</div><!-- /.container -->

{% endblock %}

{% block js %}
<script src="{% static 'accounts/js/set_active.js' %}"></script>
{% endblock %}
