
{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome yo your dashboard!</h2>
      </div>
    </div>
  </div>
</div> 
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Open a Voice Application</h1>
      <ul>
        {% for recipe in recipes %}
        <li><a href="{% url 'session:load_app' pk=recipe.pk %}">{{ recipe.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h1> Edit my Voice Applications</h1>
      <ul>
        {% for recipe in my_recipes %}
        <li><a href="{% url 'Recipes:create_action' recipe_pk=recipe.pk  %}">{{ recipe.name }}</a></li>
        {% endfor %}
      </ul>
      <a style="width:100%" class="btn btn-primary" href="{% url 'Recipes:create_recipe' %}">Create a new Application</a>
    </div>
  </div>
</div>

{% endblock %}
